{% extends "base.html" %}

{% block content %}
<section class="create_players_form">

    <form action="/add-players" method="post">
        <h3>Player 1</h3>
        <label for="player_1_name">Name</label>
        <input type="text" name="player_1_name" id="player_1_name">
        <label for="player_1_choice">Choose a hand to play:</label>
        <select name="player_1_choice" id="player_1_choice">
            <option value="rock">Rock</option>
            <option value="paper">Paper</option>
            <option value="scissors">Scissors</option>
        </select>
        <h3>Player 2</h3>
        <label for="player_2_name">Name</label>
        <input type="text" name="player_2_name" id="player_2_name">
        <label for="player_2_choice">Choose a hand to play:</label>
        <select name="player_2_choice" id="player_2_choice">
            <option value="rock">Rock</option>
            <option value="paper">Paper</option>
            <option value="scissors">Scissors</option>
        </select>

        <input type="submit" value="Add Players">
    </form>

</section>


{% endblock %}