{% extends "base.html" %}

{% block content %}

<section>
    <h2>Welcome to the crazy world of rock, paper, scissors...</h2>
</section>

<section>
    <h2>How to Play</h2>
    <p>You can play versus another human player or against the computer... choose your option at the bottom of the page...</p>
</section>


<section class="how-to-win">
    <h2>How to win</h2>
    <p>You beat another player if your choice "beats" theirs in the following way:-</p>
    <ul>
        <li>Rock beats Scissors</li>
        <li>Scissors beat Paper</li>
        <li>Paper beats Rock</li>
    </ul>
    <p>What if us crazy cats play the same hands? Um... draw?</p>
</section>
<section>
    <h2>How do you want to play?</h2>
    <h4><a href="/create-players">Player vs player</a><h4></h4>
    <h4><a href="/play-computer">Player vs Computer</a></h4>
</section>

{% endblock %}